<!-- inbox.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inbox</title>
    <script>
      function showEmailDetails(sender, subject, body) {
        alert('Sender: ' + sender + '\nSubject: ' + subject + '\nContent: ' + body)
      }
    </script>
  </head>
  <body>
    <h1>Inbox</h1>
    <table>
      <thead>
        <tr>
          <th>Sender</th>
          <th>Subject</th>
          <th>Received Date</th>
        </tr>
      </thead>
      <tbody>
        {% for email in emails %}
        <tr onclick="showEmailDetails('{{ email.sender }}', '{{ email.subject }}', '{{ email.body|escapejs }}')">
          <td>{{ email.sender }}</td>
          <!-- sender -->
          <td>{{ email.subject }}</td>
          <!-- subject -->
          <td>{{ email.timestamp }}</td>
          <!-- timestamp -->
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No emails.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'home' %}">Back to Home</a>
    <a href="{% url 'send_email' %}">Go to Send Email Page</a>
  </body>
</html>
